$primary_font_color:#fff;
$primary_color: pink;
$secondary_font_color:#fff;
$secondary_color: orange;
$border_radius: 3px;
$font_size: 13px;
$box_shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
$primary_grey: #b7b7b7;
$input_background: #e5eefd;

.input {
	width: 97%;
	margin-bottom: 10px;
	border: 1px solid $primary_grey;
	padding: 8px 0 8px 10px;
	border-radius: $border_radius;
	background-color: $input_background;
}