$primary_font_color:#fff;
$primary_color: #e03ca3;
$secondary_font_color:#fff;
$secondary_color: orange;
$border_radius: 3px;
$font_size: 13px;
$box_shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
$primary_grey: #b7b7b7;

.dashboard {
	width: 100%;
	margin: 0 auto;
	.navigation {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 30px 50px;
		border-bottom: 1px solid $primary_grey;
		box-shadow: $box_shadow;
	}
	main {
		height: 100vh;
		h2 {
			padding: 30px 50px;
			font-size: 1.5 * $font_size;
		}
		.graph_section {
			display: flex;
		}
	}
}